@{
    ViewData["Title"] = "Home Page";
}
    <head>
        <link rel="stylesheet" href="~/css/PersonalStyling.css" />
    </head>

<body class="ParaImage">
    <div class="align-content-center">
        <div class="parallax">
            <h1 class="text-md-center" id="text-block">Welcome to my Bartending Application</h1><br />
            <p class="text-md-center" id="text-block">This application allows a customer to place an order on a beer of their choice!</p>
        </div>
    </div>
</body>
