@{
    ViewData["Title"] = "Home Page";
}


<div class="parallax">
    <div class="modal-dialog-centered" >
        <h1 class="display-2" id="text-block">Welcome to my Bartending Application</h1><br />
        <p class="text-lg-right" id="text-block">This application allows a customer to place an order on a beer of their choice!</p>
    </div>
</div>
