.ParaImage {
    background-image: url("/Images/pub.jpg");
    background-size: cover;
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
   
}

#text-block {
    background-color: dimgrey;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
}
